/* -------------------------------------------

content banner

------------------------------------------- */
.mil-side-banner {
  height: calc(100vh - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.mil-side-banner .mil-banner-top {
  position: relative;
  height: 130px;
  width: 1px;
  background-color: rgb(233, 233, 233);
}
.mil-side-banner .mil-banner-top:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -3px;
  width: 7px;
  height: 7px;
  background-color: rgb(244, 67, 54);
  border-radius: 50%;
}
@media screen and (max-width: 992px) {
  .mil-side-banner {
    width: 100%;
  }
  .mil-side-banner .mil-banner-top {
    height: 90px;
  }
}
@media screen and (max-height: 750px) {
  .mil-side-banner {
    height: auto;
  }
  .mil-side-banner .mil-banner-title {
    padding: 30px 0;
  }
}

.mil-banner-sm {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.mil-banner-sm .mil-banner-top {
  position: relative;
  height: 90px;
  width: 1px;
  background-color: rgb(233, 233, 233);
}
.mil-banner-sm .mil-banner-top:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -3px;
  width: 7px;
  height: 7px;
  background-color: rgb(244, 67, 54);
  border-radius: 50%;
}
.mil-banner-sm .mil-banner-title {
  padding: 60px 0 90px;
}
.mil-banner-sm.mil-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
