/* -------------------------------------------

blog / Latest Project

------------------------------------------- */
.mil-blog-card {
  display: block;
}
.mil-blog-card .mil-cover {
  position: relative;
  overflow: hidden;
  padding-bottom: 60%;
}
.mil-blog-card .mil-cover img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-blog-card .mil-cover .mil-link {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-blog-card .mil-descr {
  padding-top: 30px;
  padding-right: 30px;
}
.mil-blog-card .mil-descr h4,
.mil-blog-card .mil-descr p {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.mil-blog-card:hover .mil-cover {
  position: relative;
  padding-bottom: 60%;
}
.mil-blog-card:hover .mil-cover img {
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.mil-blog-card:hover .mil-cover .mil-link {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
