/* -------------------------------------------

button

------------------------------------------- */
.mil-btn {
  white-space: nowrap;
  background-color: rgb(76, 175, 80);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px;
  padding: 0 60px;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-btn.mil-sm-btn {
  height: 70px;
  padding: 0 50px;
}
.mil-btn:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
