/* -------------------------------------------

divider

------------------------------------------- */
.mil-divider {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: rgb(233, 233, 233);
}
.mil-divider:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: rgb(76, 175, 80);
  border-radius: 50%;
}
.mil-divider:after {
  content: '';
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 7px;
  height: 7px;
  background-color: rgb(76, 175, 80);
  border-radius: 50%;
}
