/* -------------------------------------------

link

------------------------------------------- */
.mil-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgb(32, 33, 36) !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}
.mil-link svg {
  border-radius: 50%;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  background-color: rgb(76, 175, 80);
  padding: 11px;
  color: rgb(255, 255, 255);
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-link:hover svg {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}
.mil-link.mil-icon-link svg {
  margin: 0;
}
.mil-link.mil-icon-link:hover svg {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.mil-link.mil-icon-link.mil-sm-link svg {
  padding: 5px;
  width: 25px;
  height: 25px;
}
.mil-link.mil-dark-icon svg {
  background-color: rgb(32, 33, 36);
}
