/* -------------------------------------------

page transitions

------------------------------------------- */
.transition-fade {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

html.is-animating .transition-fade {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.mil-banner-frame .mil-banner-person {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-banner-frame .mil-banner-bg {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

html.is-animating .mil-banner-frame .mil-banner-person {
  opacity: 0;
  -webkit-transform: scale(0.95) translateY(30px);
  transform: scale(0.95) translateY(30px);
}
html.is-animating .mil-banner-frame .mil-banner-bg {
  opacity: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.mil-fw-page .mil-right-banner {
  width: 4px;
}
.mil-fw-page .mil-banner-bg {
  opacity: 0;
}
.mil-fw-page .mil-back-to-top {
  opacity: 1;
  -webkit-transform: translateX(0) rotate(-90deg);
  transform: translateX(0) rotate(-90deg);
}
.mil-fw-page.mil-100-page .mil-back-to-top {
  opacity: 0;
  -webkit-transform: translateX(90px) rotate(-90deg);
  transform: translateX(90px) rotate(-90deg);
}

html.is-animating .mil-right-banner {
  width: 35%;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.mil-flying-skills div {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.mil-fw-page .mil-flying-skills div {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

html.is-animating .mil-flying-skills div {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

html.is-changing .mil-progress {
  height: 0 !important;
}
@media screen and (max-width: 1200px) {
  html.is-changing .mil-navigation {
    -webkit-transform: translateY(10px) scale(0.98) !important;
    transform: translateY(10px) scale(0.98) !important;
    opacity: 0 !important;
    pointer-events: none;
  }
}
html.is-changing .mil-has-children ul {
  -webkit-transform: translateY(10px) scale(0.98) !important;
  transform: translateY(10px) scale(0.98) !important;
  opacity: 0 !important;
}

.mil-menu-transition {
  opacity: 1;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-menu-transition ul li.mil-active a {
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-menu-transition ul li.mil-active a:before {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

html.is-animating .mil-menu-transition {
  opacity: 0.9999;
}
html.is-animating .mil-menu-transition ul li.mil-active a:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
