/* -------------------------------------------

section title

------------------------------------------- */
.mil-section-title {
  position: relative;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mil-section-title h3 {
  white-space: nowrap;
  display: block;
  padding: 0 30px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  position: absolute;
  top: 1px;
  background-color: rgb(253, 253, 253);
}
.mil-section-title.mil-left h3 {
  white-space: nowrap;
  text-align: left;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-left: 0;
  padding: 0;
  padding-right: 30px;
}
